div.col-2 {
    border: 10px solid black;
    border-radius: 5px;
    background-color: lightslategray;
}

div.col-8 {
    border: 10px solid #7c4f00;
    border-radius: 5px;
    height: 600px;
    background-color: black;

}

.jumbotron-fluid {
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: black;
    color: white;
}

.navbar {
    margin-left: 1600px;
    color: black;
}